---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title='About Brady Clarke'
  description="If you're looking for information about Brady Clarke, you've hit the jackpot, buddy!"
>
  <main>
    <h1>About Me</h1>
    <p>Hi, I'm Brady Clarke. I'm a website person, artist, and musician based in Melbourne.</p>
    <p>...</p>
    <p>...updated copy goes here...</p>
  </main>
</Layout>
