---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Brady Clarke's Portfolio" description="It ain't quite a port. And it ain't quite a folio. I don't know where I'm going with that.">
  <main class="container mx-auto p-4">
    <h1 class="text-4xl font-bold mb-4">Welcome to my portfolio</h1>
    <p class="mb-4">Hi, I'm Brady Clarke. I'm a website person, artist, and musician based in Melbourne.</p>
    <p class="mb-4">...</p>
    <p class="mb-4">...updated copy goes here...</p>
  </main>
</Layout>