@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gradient-to-br from-[#F66633] to-[#6969F3] bg-fixed;
  }

  body {
    @apply font-mono text-center text-[#420];
  }

  main {
    @apply max-w-[70ch] p-8 mx-auto;
  }

  h1 {
    @apply text-5xl font-bold font-sans tracking-tight text-[#18C1F3];
    animation: cycleh1 15s linear infinite;
  }

  a {
    @apply font-bold text-[#18C1F3] hover:text-pink-300 hover:animate-pulse;
  }
}

@keyframes cycleh1 {
  0%,
  5% {
    color: hsl(194, 69%, 52%);
  }
  17% {
    color: hsl(254, 69%, 52%);
  }
  34% {
    color: hsl(314, 69%, 52%);
  }
  50%,
  55% {
    color: hsl(34, 69%, 52%);
  }
  66% {
    color: hsl(314, 69%, 52%);
  }
  83% {
    color: hsl(254, 69%, 52%);
  }
  100% {
    color: hsl(194, 69%, 52%);
  }
}
